.banner-sign-up{
   height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url("bottle-blur.jpg");
  background-size: cover;
  background-position: 28% 60%;
  //the background image
   h1 {
      text-align: center;
      color:white;
      font-weight: bold;
      font-size: 40px;
      height: 36px;
      left: 120px;
      top: 288px;

      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
  };
  i{
    color: white;
    position: absolute;
    margin-left: 15px;

    };
  //"Trash Bounty!"
    div.form-group{
    width: 300px;
    position: relative;
    left: 40px;
  }
  //changing the size of all the boxes
  input#user_email{
    width: 300 !important ;
  background-color: #ffffffa3;
  color:#394045;
  border-radius: 20px;
  };
  //email box
  input#user_username{
  background-color:#ffffffa3;
  color:#394045;
  border-radius: 20px;
  };
  //username box
  input#user_phone_number{
  background-color:#ffffffa3;
  color:#394045;
  border-radius: 20px;
  };
  //phone number box
  div.regroup{
    color:#f8f9fa;
    font-size: large;
    padding: 5px;
    font-size: 20px;
  };
  //"mark the box..."
  .form-check-input{
    position: relative;
  };
  //"Business"
  input#user_password{
  background-color:#ffffffa3;
  color:#394045;
  border-radius: 20px;
  };
  //password box
  input#user_password_confirmation{
  background-color:#ffffffa3;
  color:#394045;
  border-radius: 20px;
  };
  //password confirmation box
  small.form-text{
  color:#f8f9fa !important;
  };
  //color of the text "6char min"
  div.form-actions{
    text-align: center;
  };
  input.btn.btn-primary.btn-center.btn-lg{
  text-align: center;
  background-color:#4a9eda;
  color:white;
  border-radius: 20px;
  padding: 6px 106px;
  };
};
.banner-sign-up .form-group {
  margin-bottom: 0;
}
