<h2>dashboard</h2>



<%= link_to 'List a recycling center', new_bank_path, class: "btn btn-warning" %>


<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
