 <dir class = "banner-footer">
  <div class="footer-links">
      <%= link_to root_path, class: 'mr-3' do %>
      <i class="fas fa-qrcode"></i>
      <% end %>
    <%= link_to root_path, class: 'mr-3' do %>
      <i class="fas fa-search-dollar"></i>
      <% end %>
    <%= link_to users_dashboard_path, class: 'mr-3' do %>
      <i class="fas fa-address-card"></i>
    <% end %>
  </div>
  </dir>
