<div class="sticky-bottom">
  <ul class="d-flex footer justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-facebook-square sm-icons"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-twitter-square sm-icons"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-github-square sm-icons"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-youtube-square sm-icons"></i></a>
    </li>
  </ul>

  <div>
      <small class="d-block text-center mb-3 text-primary">&copy; <%= Time.now.strftime("%Y") %> Trash Bounty</small>
  </div>
</div>
