 <div class ="pt-1 banner-footer">
  <div class="d-flex justify-content-around footer-links">
      <%= link_to root_path, class: 'mr-3' do %>
      <i class="fas fa-qrcode"></i>
      <% end %>
    <%= link_to banks_path, class: 'mr-3' do %>
      <i class="fas fa-search"></i>
      <% end %>
    <%= link_to users_dashboard_path, class: 'mr-3' do %>
      <i class="fas fa-address-card"></i>
    <% end %>
  </div>
  </dir>
