<div class="info-window">

    <p><%= bank.name %></p>
    <p><%= bank.materials_accepted %></p>
    <!-- avg rating of the bank -->
    <!-- <p><%#= bank.review.rating %></p> -->

    <!-- the rate the bank pays -->
    <!-- <p><%#= bank.materials_accepted.rate_per_kg %></p> -->
    <p><%= link_to "See more details", bank_path(bank) %></p>
</div>
