<div class="container my-3">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <h1>Help Center</h1>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  What is Trash Bounty?
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Trash Bounty is an open source platform that connects plastic recycling centres with volunteer plastic recyclables collectors, turning plastic from general waste to a commodity.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How can I create an account?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Go to <a href="https://trashbounty.org">trashbounty.org</a>, download our app to your mobile phone homepage, open the app and click on 'sign up' to create an account.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is a volunteer plastic recyclables collector?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Anyone with access to a smartphone can volunteer to become a plastic recyclables collector. You may find that you currently put all your plastics into one trash bin, rather than separating them by recyclable and non-recyclable, or you may just be located in an area where there is plastic trash littered in the beaches, streets or fields. <br> <br>
                Either way, Trash Bounty incentives people to collect those recyclable plastics and deliver them to recycling centres who use the platform. Recycling centres set the rates they are willing to pay per KG of acceptable plastic, you as the collector can then compare and choose you who wish to deliver to.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Can I register as a recycling centre?
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                Yes, once you have supplied an email address and phone number to create an account, from your dashboard you can click on the icon to "Register my recycling centre" and fill in the registration form. <br> <br>

                *Please note that once you have registered as a recycling centre you will be immediately visible in your local area as a centre that both accepts plastics and is responsible for making payments to collectors. Your reputation on the platform will be dependent on your transactions with collectors.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  How does it work?
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>download the app</li>
                  <li>search for local recyclers in your area</li>
                  <li>check their profile page to be sure what type of plastics they accept and do not accept or how much they pay per kg of plastic collected</li>
                  <li>you may now collect either the plastics you have consumed yourself or go out and collect from any public area where plastic has been littered</li>
                  <li>be sure to use our app to double check what is and is not accepted. Note our app works offline.</li>
                  <li>check our app for the opening times of the recycling centre</li>
                  <li>bring your collected plastic to the recycling centre of your choice</li>
                  <li>the centre will verify the amount of acceptable plastic, and record the collection in the app </li>
                  <li>your dashboard will update with details of the transaction</li>
                  <li>unless you opt-out, your data will be automatically entered into the weekly, monthly and annual </li>
                  <li>unless you opt-out, your data will be automatically entered into the weekly, monthly and annual leaderboards</li>
                  <li>trash bounty does not act as a middleman between the collector and the recycling centre</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  How will I receive payment?
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                As a collector, once you have collected an amount of plastic which you wish to deliver, you will need to visit the recycling centre in person, and bring the mobile phone which is installed with the trash bounty app. Once in the centre, first you must choose your preferred payment method of either cash or Bitcoin (note that not all centres will have a Bitcoin payment method, be sure to check their profile in the app before requesting Bitcoin.
                <br> <br>
                The steps for receiving payment in Bitcoin are:
                <ul>
                  <li>Navigate to the Accounts section of the app by clicking on the ?? icon.</li>
                  <li>Choose Bitcoin as your payment method</li>
                  <li>Ensure your Bitcoin public address is saved accurately in your profile page</li>
                  <li>Hand your collected plastics over to the staff at the recycling centre</li>
                  <li>The centre will check which items are acceptable, and will confirm the weighted amount of acceptable plastic and the total amount due to you</li>
                  <li>The centre will begin by scanning your Bitcoin address QR code to obtain your Bitcoin address.</li>
                  <li>The centre will now complete the remainder of the online form, by adding the amount to be paid and the total weight of collected plastics</li>
                  <li>Once the details have been agreed, the centre will click the submit button which will generate a QR code on their screen which will be embedded with the collection and transaction data, plus your Bitcoin addresss.</li>
                  <li>The centre will ask you to open the QR code scanner in the trash bounty app, and scan the QR code they have just generated.</li>
                  <li>This will generate a confirmation page on your screen where you will need to confirm that all the details are correct. Click to confirm or cancel</li>
                  <li>Once you have confirmed the transaction, the data will be recorded in your dashboard as an unconfirmed transaction</li>
                  <li>The centre now has XX hours to make the payment to your Bitcoin address</li>
                  <li>Once payment has been received, copy the transaction hash and paste it into the order detail page at ?? in order to convert your unconfirmed transaction to confirmed.</li>
                  <li>You may now proceed to leave feedback on how the recycling handled the transaction.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  On what criteria can I rate the recycling centre (leave feedback)?
                </button>
              </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>Accuracy of information, i.e. did the centre accept the plastics they said they would on their profile page</li>
                  <li>Trust, i.e. have you received payment, did they pay the agreed amount</li>
                  <li>Speed of payment, i.e. did they pay in a timely manner</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingEight">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  How will I know what to collect and what will be accepted by the recycling centre?
                </button>
              </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                Navigate to the profile page of each recycling centre, where you will be able to view detailed lists of which types of plastic they will accept and which they will not.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingNine">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  Are there some items that cannot be recycled?
                </button>
              </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                Yes, not all plastics can be recycled. Thermosetting plastics cannot be recycled by the normal method of heating because the molecular bonds that bind them together burn instead of melting. There are cutting-edge chemical processes that can be used, but they are a long way off being economically viable.
                <a href="http://www.bbc.co.uk/guides/z9tysg8">(source: http://www.bbc.co.uk/guides/z9tysg8)</a>. Plastic bags, and plastics made from polyvinyl chloride, polypropylene, Polystyrene cannot be recycled. Further information can be found at: https://trashbounty.org/recyclables
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="headingTen">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  Why is recycling plastic important?
                </button>
              </h2>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                  <li>plastic has been a useful invention to the human race</li>
                  <li>calls to ban plastics are unrealistic</li>
                  <li>SEA countries and the problems with pollution, and waste management</li>
                  <li>the amounts of plastic which finds it's way to the streets or the sea</li>
                </ul>
              </div>
            </div>
          </div>

        </div> <!-- end accordian collapse -->
     </div>
  </div>
</div>





