<div class="banner-frontpage">
  <div class="banner-content text-center">
    <h1>Trash Bounty!</h1>
    <p>Make the world a better place !</p>

    <div class="container">
      <div id = "buttons"> <%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary"  %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary"  %></div>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <form action="/banks" method="get"class="search-form p-3">
            <div class="form-group">
              <input type="text" name="query" class="form-control" id="location" placeholder="Select Location">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->

  </div>
</div>
