<div class="banner-frontpage">
  <div class="banner-content text-center">
    <h1>Trash Bounty!</h1>
    <p>Make the world a better place !</p>



    <div class="mt-5 d-flex flex-row justify-content-between ">
      <form class="search-form p-3">
        <div class="form-group">
          <input type="text" class="form-control" id="user_address" placeholder="Select Location">
        </div>
      </form>
    </div>



    <%= button_to "Log In", new_user_session_path, class: "btn btn-center btn-lg btn-primary"  %>
    <%= link_to "Start now", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>



<%#= link_to 'List a recycling center', new_bank_path, class: "btn btn-warning" %>

<%#= link_to 'Sign up', new_user_registration_path, class: "btn btn-warning" %>

<%#= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
