<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12 col-md-12 col-12">

      <h1 class="text-center">Top Leaderboard</h1>

      <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Rank</th>
            <th class="th-sm">User ID</th>
            <th class="th-sm">Username</th>
            <th class="th-sm">Total Kg</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% user.collections.each do |collection| %>
          <tr>
            <td>1</td>
            <td><%= user.id %></td>
            <td>@<%= user.username %></td>
            <td><%= collection.total_kg %></td>
            <% end %> <!-- end users.collections.each -->
          </tr>
          <% end %> <!-- end users.each -->
        </tbody>
      </table>
     </div>
  </div>
</div>

