.banner-frontpage{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("bottle-blur.jpg");
  background-size: cover;
  background-position: 25% 60%;
  h1 {
      position: absolute;
      text-align: center;
      color:white;
      font-weight: bold;
      font-size: 40px;
      width: 161px;
      height: 36px;
      left: 120px;
      top: 288px;

      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
  };
  p {
      position: absolute;
      width: 121px;
      height: 24px;
      left: 135px;
      top: 324px;

      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
  };

  form.search-form.p-3{
   background-color: transparent;

  }
  input#user_address.form-control{
   border-radius: 20px;
  }
  input.btn {
  position: absolute;
  border-radius: 20px;
  padding: 8px 32px;
  margin-bottom: 10px;
  align-text: center;
  background-color: #4a9eda;
  color: white;
position: absolute;
width: 254px;
height: 42px;
left: 76px;
top: 630px;
  };
  a.btn-primary{
  background-color:#4a9eda;
  color:white;
  position: absolute;
  border-radius: 20px;
 width: 254px;
height: 42px;
left: 76px;
top: 690px;
  };
}
