div.content{
  background-color: #becbd666;
}
.row-background-user{
  background-color: #cdd3d8;
  color: #394045;
};
.col-waste-user{

  background-color: #becbd666;
};
.col-history-user{

  background-color: #becbd666;
};

.col-money-user{

  background-color: #becbd666;
  i.fab.fa-bitcoin{
  color: #394045;
  vertical-align: middle;
  float:right;
  font-size: 30px;
};
};

hr{
color: black;
margin-top: 5px;
margin-bottom: 5px;
 };

 a.btn.btn-warning{
  background-color: #616d7696;
  color:#3a43aa
 };

i.fab.fa-bitcoin{
  color: orange;
}
i.fas.fa-trash-alt{
  color: #394045;
  float: right;
  vertical-align: middle;
  font-size: 30px;
}
