.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.map-card {
  width: 30%;
}

.map-table td {
  padding: 0;
}


.map-table th {
  padding: 0;
}

.map-title {
  margin-bottom: 0;
}

.map-card-body {
  padding-top: 0;
  padding-bottom: 0;
}
