.table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: $primary;
}

.table-striped > tbody > tr:nth-child(2n+1) > td {
   color: #fff;
}

.table-striped > tbody > tr:nth-child(2n) > td {
   color: $primary;
}

.table-striped > tbody > tr:nth-child(2n+1) > td > a {
   color: #fff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td > a:hover {
  text-decoration: none;
}

.table-striped > tbody > tr:nth-child(2n) > td > a {
   color: $primary;
}

.table-striped > tbody > tr:nth-child(2n) > td > a:hover {
   text-decoration: none;
}

.table-striped > thead > tr > th {
   color: $primary;
}

.td-active {
  background-color: $success !important;
}

table {
  border-width: 0;
  border-style: none;
  border-color: #4f80c7;
  border-collapse: collapse;
}

td {
  border-left: solid 5px #4f80c7;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 5px;
}

td.black { border-color: #4f80c7; }
td.white { border-color: #fff; }
